/ Call to Action Strip
%section.strip
  .container
    .row
      .span12
        %h3
          == Пусть вашим расписанием займётся #{t "site.domain"}
          = link_to new_user_registration_path, :class => 'btn' do
            Зарегистрировать организацию
            %i.icon.icon-caret-right
= flash_messages
/ Page Container
.container
  / Features Grid
  .row
    .span3
      %h4
        %i.icon.icon-play-circle
        Самостоятельно
      %p
        Клиенты записываются самостоятельно и без вашего участия.
        - if nil
          = succeed "," do
            %a{:href => "#", :rel => "tooltip", :title => "Right away!"} on the way
    .span3
      %h4
        %i.icon.icon-time
        Круглосуточно
      %p Клиент может записаться в любое время. Даже ночью или в выходной день.
    .span3
      %h4
        %i.icon.icon-heart
        Заботливо
      %p За сутки до процедуры клиент получит детализированное напоминание. Автоматически.
    .span3
      %h4
        %i.icon.icon-globe
        Удобно
      %p Доступ к вашему расписанию из любого места, где есть интернет
  %hr/
  / Info Row 1
  .row
    .span3
      %img.img-rounded{:alt => "", :src => "assets/product-4.png"}/
    .span9
      %h3 Новый подход к бронированию
      %p Устали от постоянных телефонных звонков от клиентов? Не можете или не хотите брать трубку? Но ведь вы можете потерять этого клиента.
      %p А взяв трубку надо ещё сверять его расписание со своим. Поручите эту работу OneClickBook и можете забыть об этой головной боли. Плюс ко всему у вас появится возможность автоматически оповещать клиентов о предстоящей процедуре.
      -#%a.btn{:href => "#"} Learn More
  %hr/
  / Info Row 2
  .row
    .span4
      %h3 Расписание
      = image_tag "edge/calendar.png"
    .span4
      %h3 Легко настроить под себя
      %p
        Для того, чтобы начать работать вам нужно расписать каждую услугу по мастеру, продолжительности и цене.
    -#
      .span4
        %img.img-rounded{:alt => "", :src => "assets/product-3.png"}/
  %hr/
  / Testimonials
  .row
    / Testimony 1
    .span4
      %h3 Excelent Service
      .bubble
        %p
          %i.icon-comments-alt
          For every dollar my company invests to increase usability, I receives $10-$100 in benefits
      %img.user-avatar{:alt => "", :src => "assets/user-1.png"}/
      %blockquote
        %p Cooper Black
        %small
          Chief CEO in
          %cite{:title => "Source Title"} Venture Corp.
    / Testimony 2
    .span4
      %h3 Priority Support
      .bubble
        %p
          %i.icon-comments-alt
          Testing one user early in the project is better than testing 50 near the end.
      %img.user-avatar{:alt => "", :src => "assets/user-2.png"}/
      %blockquote
        %p Calisto MT
        %small
          President in
          %cite{:title => "Source Title"} Asturias Inc.
    / Testimony 3
    .span4
      %h3 First Class Work
      .bubble
        %p
          %i.icon-comments-alt
          The difference between zero and even a little bit of data is astounding.
      %img.user-avatar{:alt => "", :src => "assets/user-3.png"}/
      %blockquote
        %p Cambria Serif
        %small
          Design Manager in
          %cite{:title => "Source Title"} Moldova Systems
  %hr/
  - if nil
    / Clients List
    .row
      .span12
        %h3 Компании использующие нашим продуктом
        %img.customer-logo{:alt => "", :src => "assets/logo-1.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-2.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-3.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-11.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-12.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-6.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-7.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-8.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-9.png"}/
        %img.customer-logo{:alt => "", :src => "assets/logo-10.png"}/
    %hr/
  / Pricing
  .row
    .span12
      %h3 Тарифные планы
  .row
    / Pricing Box 1
    .span3
      .pricing
        %h4
          Бесплатно
          %br/
          0 руб/мес
        %hr/
        %ul
          %li Одна линия
          %li Без абонентской платы
          %li Без СМС уведомлений
        = link_to 'Попробовать', '#', :class => 'btn'
    / Pricing Box 2
    .span3
      .pricing
        %h4
          Частный бизнес
          %br/
          от 0 руб/мес
          %i.icon.icon-star.muted.pull-right
        %hr/
        %ul
          %li 30 дней бесплатно
          %li Одна линия
          %li Оплата по факту 
          %li 1 клиент 15руб
          %li СМС уведомления клиенту
          %li СМС уведомления на телефон компании
    / Pricing Box 3
    .span3
      .pricing
        %h4
          Салон
          %br/
          от 1000 руб/мес
          %i.icon.icon-star.muted.pull-right
          %i.icon.icon-star.muted.pull-right
        %hr/
        %ul
          %li 30 дней бесплатно
          %li до 4х линий
          %li 1 клиент 15руб
          %li СМС уведомления клиенту
          %li СМС уведомления на телефон компании
    / Pricing Box 4
    .span3
      .pricing
        %h4
          Компания
          %br/
          от 5000 руб/мес
          %i.icon.icon-star.muted.pull-right
          %i.icon.icon-star.muted.pull-right
          %i.icon.icon-star.muted.pull-right
        %hr/
        %ul
          %li 30 дней бесплатно
          %li неограниченное число линий
          %li 1 клиент 15руб
          %li СМС уведомления клиенту
          %li СМС уведомления на телефон компании
          %li Расширенная система отчетов
    / Info Box
    .span3
      .info-panel
        %h4
          %i.icon.icon-info-sign
          Не нашли подходящего тарифа?
        %p
          Наши специалисты помогут вам разобраться в вариантах и выбрать оптимальный либо настроить индивидуальный вариант.
  / /.row
  %hr/
  / Contact Area
  .row
    / Advice Banner
    .span6
      %img.img-advice{:alt => "", :src => "assets/advice.png"}/
    / Contact Form
    .span6
      %h4
        %i.icon.icon-envelope-alt
        Let's get in touch now!
      %form.form
        %input#userName.span3{:placeholder => "Name", :type => "text"}/
        %input#userEmail.span3{:placeholder => "Email", :type => "text"}/
        %textarea#message.span6{:placeholder => "Message", :rows => "7"}
        %button.btn.btn-block{:type => "submit"} SUBMIT NOW!
    / /.span6
  / /.row
  %hr/
/ page /.container
