= simple_form_for [@organization, @service] do |f|
  = f.input :name
  = f.input :showing_time, :hint => "Количество * #{@organization.slot_minutes} минут"
  = f.input :cost

  .form-actions
    = f.submit "Завершить"
