#service
  = simple_form_for @service do |f|
    = f.hidden_field :is_collection

    - if @service.is_collection?
      %h3 Коллекция
      #collections.controls
        - @organization.services.not_collections.each do |service|
          %label.checkbox
            = check_box_tag "service[service_ids][]", service.id, @service.services.include?( service ), "data-cost" => service.cost, "data-showing_time" => service.showing_time
            = service.name

    = f.input :name
    = f.input :showing_time, :hint => "Количество минут"
    = f.input :cost
    = f.input :show_by_owner, :as => :boolean, :wrapper => 'checkbox'

    .form-actions
      = f.submit "Завершить", :class => 'btn btn-primary'
