- content_for :header_title do
  %h2 Услуги 

- content_for :header do
  %br/
  - if current_user && current_user.owner?( @organization )
    = link_to 'Добавить услугу', [:new, @organization, :service], :class => 'btn btn-primary'
    = link_to 'Добавить коллекцию', new_organization_service_path( @organization, :service => { :is_collection => true } ), :class => 'btn btn-primary'

- content_for :upper do
  %table.table
    %thead
      %tr
        %th
        %th Наименование
        %th Продолжительность
        %th Стоимость
    %tbody
      - @services.order(:is_collection).each do |service|
        %tr
          %td
            - if service.is_collection?
              \+
          %td= service.name
          %td= service.showing_time
          %td= service.cost
          %td
            = link_to [:edit, @organization, service] do
              .icon-edit
            = link_to [@organization, service], :method => :delete do
              .icon-trash
