%h2 Услуги 
%br/
- if current_user && current_user.owner_or_worker?( @organization )
  = link_to 'Добавить услугу', [:new, :service], :class => 'btn btn-success'
  = link_to 'Добавить коллекцию', new_service_path( :service => { :is_collection => true } ), :class => 'btn btn-success'

%table.table
  %thead
    %tr
      %th
      %th Наименование
      %th Продолжительность
      %th Стоимость
  %tbody
    - @services.order(:is_collection).group_by{|s| s.category_id}.each do |category_id, services_by_category|
      %tr
        %td{colspan: 5}
          %h3= Dictionary.find_by_id(category_id).try(:name)
      - services_by_category.each do |service|
        %tr
          %td
            - if service.is_collection?
              \+
            - if service.show_by_owner?
              \-
          %td= service.name
          %td= service.showing_time
          %td= service.cost
          %td
            = link_to [:edit, service], class: 'btn' do
              .icon-edit
              Редактировать
            = link_to service, :method => :delete, class: 'btn btn-danger' do
              .icon-trash
              Удалить
