%h2 Услуги 
%br/
- if current_user && current_user.owner?( @organization )
  = link_to 'Добавить услугу', [:new, :service], :class => 'btn btn-success'
  = link_to 'Добавить коллекцию', new_service_path( :service => { :is_collection => true } ), :class => 'btn btn-success'

%table.table
  %thead
    %tr
      %th
      %th Наименование
      %th Продолжительность
      %th Стоимость
  %tbody
    - @services.order(:is_collection).each do |service|
      %tr
        %td
          - if service.is_collection?
            \+
          - if service.show_by_owner?
            \-
        %td= service.name
        %td= service.showing_time
        %td= service.cost
        %td
          = link_to [:edit, service] do
            .icon-edit
          = link_to service, :method => :delete do
            .icon-trash
