= content_for :bottom_js do
  = javascript_include_tag 'fc', 'month_calendar'

.block-area
  = f.input :is_enabled
  = f.input :name
  = f.input :dative_case
  = f.input :profession
  = f.input :phone
  = f.input :photo, :as => :file
  %h3 Список сервисов
  #collections.controls
    - @organization.services.not_collections.group_by(&:category).each do |category, c_services|
      %h2.block-title= category.try(:name) || 'Прочее'
      .sortable_services
        - c_services.each do |service|
          %label.checkbox{id: "service_#{service.id}"}
            = check_box_tag "worker[service_ids][]", service.id, f.object.services.include?( service )
            = service.name
  - unless f.object.new_record?
    %h1 Рабочие дни
    #worker_month_calendar{:style => 'width:500px;'}

  %h3 Часы работы
  = render 'workers/working_hours_list', :f => f
