.utopia-login
  %h1
    - if resource.new_record?
      Регистрация
    - else
      Редактирование
  .utopia
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => (resource.new_record? ? :post : :put ) }) do |f|
      = f.input :role, :as => :hidden
      = f.input :lastname
      = f.input :firstname
      = f.input :email
      = f.input :phone
      = f.input :password, :as => :password
      = f.input :password_confirmation, :as => :password
      - if resource.new_record?
        = f.submit 'Зарегистрироваться', :class => 'btn btn-normal'
      - else
        = f.input :current_password, :as => :password
        = f.submit 'Редактировать', :class => 'btn btn-normal'
