- content_for :header do
  %br/
  %br/
  .row{ :style => 'height: 300px' }
    %h2 Зарегистрироваться
  %br/
  %br/
- content_for :upper do
  %br/
  .row
    .span6.offset3
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    = render "#{f.object.current_step}_step", :f => f

    %div= f.submit "Дальше"
    - unless f.object.first_step?
      %div= f.submit "Назад", :name => 'back_button'
  = render "links"
