- content_for :header_title do
  %h2 Исполнители

- content_for :header do
  %br/
  - if current_user && current_user.owner?( @organization )
    = link_to 'Добавить исполнителя', [:new, :executor], :class => 'btn btn-primary'

- content_for :upper do
  %table.table
    %thead
      %tr
        %th ФИО
        %th телефон
        %th
    %tbody
      - @executors.each do |executor|
        %tr
          %td= executor.name
          %td= executor.phone
          %td
            = link_to [:edit, executor] do
              .icon-edit
            = link_to executor, :method => :delete do
              .icon-trash
