- resource.phone ||= '+7'
.bs-docs-example
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    - if resource.phone.blank? && @remote
      = f.input :phone, :input_html => { :autocomplete => 'off' }
    - else
      = f.input :phone, :input_html => { :data => { :old_phone => resource.phone }, :autocomplete => 'off' }
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean, :wrapper => :checkbox
      .form-actions= f.submit "Войти", :class => 'btn btn-primary'
      = render "/users/links"
