- services = worker.services.not_collections.order(:category_id, :show_by_owner, :name)
- services = services.where( :show_by_owner => false ) unless @presenter.owner_or_worker?
- step = (services.size*1.0/3).ceil
- expired_services = worker.services_workers.can_be_expired
- current_category = nil
- services.each_slice( step.zero? ? 1 : step  ).each do |group_services|
  .span3
    - group_services.each_with_index do |service, index|
      - if current_category != service.category
        - current_category = service.category
        - if current_category
          %h4= current_category.name
        - elsif !index.zero?
          %h4 Прочее
        
      %label.checkbox.service
        = check_box_tag "service[#{service.id}]", service.id, false
        %span.stitle= service.name
        - unless service.description.blank?
          %span.badge.badge-info{id: "service_help_#{service.id}"} ?
          :javascript
            $(function(){
              $('#service_help_#{service.id}').popover({placement: 'right', content: '#{j service.description}', trigger: 'focus hover'})
            });
        - if expired_service = expired_services.find{|ws| ws.service_id == service.id}
          %span.badge.badge-important{id: "service_expired_#{service.id}"} X
          :javascript
            $(function(){
              $('#service_expired_#{service.id}').popover({placement: 'right', content: 'Запись на услугу прекращается с #{l expired_service.date_off}', trigger: 'focus hover'})
            });
