%h1 Уведомления
= link_to 'Настройка СМС.ru', [:sms, Notification], class: 'btn btn-success'
%br/
= link_to 'Отправить отложенные сообщения', [:send_sms, Notification], class: 'btn btn-warning'

= form_tag notifications_path, method: :get do
  %fieldset
    %label Выберите период
    = hidden_field_tag :label, 0
    .datetime-pick.input-icon= text_field_tag :from, params[:from], placeholder: 'от', data: {format: 'dd.MM.yyyy'}, class: 'form-control input-sm'
    .datetime-pick.input-icon= text_field_tag :to, params[:to], placeholder: 'до', data: {format: 'dd.MM.yyyy'}, class: 'form-control input-sm'
    = submit_tag 'Выбрать', class: 'btn btn-primary'

- @notifications.each do |notification|
  %h2
    = notification.worker.try(:name)
  == Было отправлено сообщений: #{notification.count} шт.
  %br/
  == Общей длиной: #{notification.length} смс
  %br/
  == На сумму: #{notification.total_cost} руб.
