= link_to 'Добавить новую', new_organization_page_path( @organization ), :class => 'btn btn-success'

%h1 Список ваших страниц
%table.table
  %tr
    %th Имя
    %th Ссылка
  - @pages.each do |page|
    %tr
      %td= link_to page.name, page.show_page_link
      %td= page.permalink
      - if  current_user && current_user.owner?( @organization )
        %td
          = link_to 'Редактировать', [:edit, @organization, page], :class => 'btn btn-success'
          = link_to 'Удалить', [@organization, page], method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-danger'
