%table.table
  %thead
    %tr
      %th название
      %th ключ
      %th
  %tbody
    - @dictionaries.order(:name).each do |dictionary|
      %tr
        %td= link_to dictionary.name, dictionary
        %td= dictionary.tag
        %td
          = link_to 'добавить', new_dictionary_path( :dictionary => { :parent_id => dictionary.id } ), :class => 'btn btn-success'
          = link_to [:edit, dictionary], :class => 'btn btn-warning' do
            .icon-edit
          = link_to dictionary, :method => :delete, :class => 'btn btn-danger' do
            .icon-trash
