%tr
  %td= link_to full_user_name( appointment.user, '<br/>' ).html_safe, appointment.user
  %td= appointment.services.pluck(:name).join(', ')
  %td= Russian.strftime( appointment.start )
  %td= appointment.cost
- if current_user
  %tr
    %td{ :colspan => 4 }
      - if current_user.owner?( appointment.organization )
        = link_to 'Заявка выполнена', '#', :class => 'btn btn-success'
        = link_to 'Отменить самому', '#', :class => 'btn'
        = link_to 'Отменил клиент', '#', :class => 'btn btn-warning'
        = link_to 'Клиент не пришёл', '#', :class => 'btn btn-danger'
        = link_to 'Клиент опоздал', '#', :class => 'btn btn-info'
      - elsif current_user == appointment.user
        = link_to 'Отменить', '#', :class => 'btn btn-danger'
