%h2 Шаг 2
- if user = User.find_by_phone( session[:phone] )
  %h3 Вам необходимо войти под своим пользователем
  = render '/users/sessions/new', :resource => user, :resource_name => User
- else
  %h3 Вам необходимо зарегистрироваться, чтобы продолжить
  - user = User.new( :phone => session[:phone], :role => 'client' )
  = simple_form_for(user, :url => registration_path(user)) do |f|
    = f.hidden_field :role
    = f.input :name
    = f.input :email
    = f.input :phone
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password

    .form-actions
      = f.submit "Зарегистрироваться"
