%table.table
  %thead
    %tr
      %th Фамилия Имя
      %th Телефон
      %th Действия
  %tbody
    - @phonebook.each do |appointment|
      %tr
        %td
          - if appointment.user.present?
            = link_to appointment.user do
              = appointment.user.lastname
              = appointment.user.firstname
          - else
            = appointment.lastname
            = appointment.firstname
        %td
          = appointment.phone
        %td
          = link_to 'Просмотр', user_path(id: appointment.phone), class: 'btn btn-success'
