%h1 Заявка

%div{ :class => @appointment.complete_time ? 'alert alert-danger' : 'alert alert-notice' }
  %h2
    = @appointment.aasm.human_state
    - if @appointment.complete_time
      %code
        = Appointment.human_attribute_name(:complete_time)
        = Russian.strftime( @appointment.complete_time, ': %d %B %Y в %H:%M' )

- if @appointment.free?
  = render "appointments/free"
- else
  = appointment_links( @appointment, ' ' )
  .span5
    .row
      %h2 Информация
      %table.table
        %tbody
          %tr
            %td Статус
            %td= @appointment.aasm.human_state
          %tr
            %td Дата
            %td= Russian.strftime( @appointment.start, "%d %B %Y (%A)" )
          %tr
            %td Время начала
            %td= Russian.strftime( @appointment.start, "%H:%M" )
          %tr
            %td Время окончания
            %td= Russian.strftime( @appointment.start + (@appointment.showing_time.minutes ), "%H:%M" )
          - if user = @appointment.user
            %tr
              %td Пользователь
              %td== #{user.phone} &mdash; #{user.name}
          %tr
            %td Пользователь (заявка)
            %td== #{@appointment.phone} &mdash; #{@appointment.firstname} #{@appointment.lastname}

    .row
      %h2 Услуги
      %table.table
        %thead
          %th Название услуги
          %th Стоимость руб.
          %th Продолжительность
        %tbody
          - @appointment.services.each do |service|
            %tr
              %td= service.name
              %td= service.cost
              %td= service.showing_time.show_time
          %tr
            %td Итого
            %td
              %b= @appointment.cost
            %td
              %b= @appointment.showing_time.show_time
