.container
  %h3 Текст смс
  - appointment = form.object.appointments.last
  .row
    .span4= form.input :user_notify_text, :as => :text, :input_html => { :size => '150x10' }
    %code#template_help.span4
    #template_example.span4
      = ThemedTextService.user_notify(appointment)

    = content_for :bottom_js do
      :javascript
        $(function(){
          var appointment = #{appointment.to_json.html_safe};
          var template = {
            '<ИМЯ>': appointment.firstname,
            '<ФАМИЛИЯ>': appointment.lastname,
            '<ДЕНЬ НЕДЕЛИ>': '#{Organization::GENITIVE_WEEK_DAYS[appointment.start.wday]}',
            '<ДАТА НАЧАЛА>': '#{Russian.strftime( appointment.start, "%d %B в %H:%M" )}',
            '<СПИСОК УСЛУГ>': '#{appointment.services.order(:name).pluck(:name).join(', ')}',
            '<СТОИМОСТЬ>': appointment.cost,
            '<ПРОДОЛЖИТЕЛЬНОСТЬ>': '#{appointment.showing_time.show_time}',
            '<МАСТЕР>': '#{appointment.worker.name}',
            '<ДМАСТЕР>': '#{appointment.worker.dative_case}',
            '<ТЕЛЕФОН МАСТЕРА>': '#{appointment.worker.phone}'
          };
          $('#template_help').html('<br/>');
          $.each( template, function(key,value){
            $("#template_help").append("<div>"+key+": "+value+"</div>");
          });
          $('#worker_user_notify_text, #organization_user_notify_text').keyup(function(){
            var text = $(this).val();
            $.each(template, function(key, value){
              text = text.replace(key, value);
            });
            $('#template_example').html(text);
          });
        });
