- content_for :js do
  :javascript
    var collections_services = #{@organization.get_services.to_json};

- content_for :bottom_js do
  :javascript
    var start_calendar_options = #{@organization.calendar_settings.to_json};
    //$('#second check_services').affix();
  = javascript_include_tag 'fullcalendar', 'calendar'
  - if defined? @str_day
    :javascript
      $(function(){
        $('#calendar').fullCalendar( 'gotoDate', #{@str_day} )
      })

-# FIXME change it to form_for
= form_tag appointments_path, :remote => true do
  = hidden_field_tag :start
  %section.utopia-widget#second
    %h3 На что хотите записаться:
    .row-fluid
      .check_services{ 'data-spy' => 'affix', 'data-offset-top' => '200'}
        - services = @organization.services.not_collections.order(:name)
        - services.each_slice( services.size/2 ).each do |group_services|
          .span3
            - group_services.each do |service|
              %label.checkbox
                = check_box_tag "service[#{service.id}]", service.id, false
                = service.name
      .span4.buttons_to_confirm{ :style => 'display:none;' }
        = link_to '#', :class => 'btn btn-success confirm_calendar' do
          %span.icon-ok
        = link_to '#', :class => 'btn btn-danger cancel_calendar' do
          %span.icon-remove
        %br/
      .span2.fc-corner-bottom.fc-corner-top.external-event{ 'data-append-selector' => '.buttons_to_confirm' }
        #total_time Время: 0 мин.
        #total_cost Стоимость: 0 руб.
    
  #first
    - if current_user && !current_user.owner?( @organization )
      - [:phone, :firstname, :lastname].each do |field|
        = hidden_field_tag "user[#{field}]", current_user.send(field)
    - else
      .row-fluid
        - [:phone, :firstname, :lastname].each do |field|
          .form-horizontal
            .span3
              %b= Appointment.human_attribute_name field
            .control-group
              .controls
                = text_field_tag "user[#{field}]", '', :class => 'span3'

.row-fluid
  %hr/
  .span1
    #third
      - [:free, :taken, :inaccessible, :'your-offer'].each do |state|
        = I18n.t("legend.status.#{state}")
        %div{ :class => "legend legend-#{state}" }
        %br/
      - if current_user.owner? @organization
        .show_statuses
          - [:taken, :inaccessible, :offer, :approve, :complete, :missing, :lated, :cancel_client, :cancel_owner].each do |state|
            %label.checkbox
              = check_box_tag :state, state, (session["show_#{state}"] == 'false' ? nil : 1)
              = t "activerecord.attributes.appointment.status.#{state}"
  .span10
    #calendar{ :style => 'width:900px;margin:0 auto;' }
.span4
  = image_tag 'kickstrap/themes/beauty/second_img.jpg'
