- content_for :js do
  :javascript
    var collections_services = #{@organization.services.map{ |s| [(s.is_collection? ? s.collections_services.pluck(:service_id) : [s.id]), s.cost, s.showing_time] }.sort_by{|cs| 1000-cs.first.size}.to_json};
- content_for :bottom_js do
  :javascript
    var start_calendar_options = #{@organization.calendar_settings.to_json};
  = stylesheet_link_tag    'fullcalendar'
  = javascript_include_tag 'fullcalendar', 'calendar'

%h1= @organization.name

- content_for :header do
  %h3 На что хотите записаться:
  .row
    .check_services
      - services = @organization.services.not_collections.order(:name)
      - services.each_slice( services.size/2 ).each do |group_services|
        .span3
          - group_services.each do |service|
            %label.checkbox
              = check_box_tag "service[#{service.id}]", service.id, false
              = service.name
    .span4.buttons_to_confirm{ :style => 'display:none;' }
      = link_to 'Подтвердить', '#', :class => 'btn btn-success confirm_calendar'
      = link_to 'Отменить', '#', :class => 'btn btn-danger cancel_calendar'
    .span4.external-event
      #total_time Время: 0 мин.
      #total_cost Стоимость: 0 руб.

.row
  - [:free, :taken, :inaccessible].each do |state|
    .span16
      %span{ :class => "legend legend-#{state}" }
        = I18n.t("activerecord.attributes.appointment.status.#{state}")
%br/
#calendar{ :style => 'width:900px;margin:0 auto;' }
