- content_for :js do
  :javascript
    var collections_services = #{@presenter.organization_services.as_json};
    var start_calendar_options = #{@presenter.calendar_settings.to_json};

- content_for :bottom_js do
  = javascript_include_tag 'moment', 'fullcalendar', 'fullcalendar-ru', 'calendar'
  - if @presenter.phonebook
    :javascript
      var phonebook = #{@presenter.phonebook_to_json};
      $(function(){
        Organizer.add_calendar_autocomplete( phonebook );
      });

= theme_render 'show_workers'
#calendar_show{:class => @presenter.show_workers ? 'hidden-left' : ''}
  -# FIXME change it to form_for
  = theme_render 'calendar_form'
  = theme_render 'calendar'
