- content_for :js do
  :javascript
    var collections_services = #{@presenter.organization_services.as_json};
    var start_calendar_options = #{@presenter.calendar_settings.to_json};

- content_for :bottom_js do
  = javascript_include_tag 'fullcalendar', 'calendar'
  - if @presenter.phonebook
    :javascript
      var phonebook = #{@presenter.phonebook_to_json};
      $(function(){
        Organizer.add_calendar_autocomplete( phonebook );
      });

- if @presenter.show_workers
  .hide
    %ul.thumbnails#modal-workers
      - @presenter.enabled_workers.each do |worker|
        %li.span3
          = link_to '#', :data => { :worker_id => worker.id }, :class => 'thumbnail' do
            = image_tag worker.photo.url(:normal), :title => worker.name
            .caption
              %h3= worker.name
              %p.text-right
                = worker.profession
  :javascript
    $.colorbox({html: $('#modal-workers').parent().html(), title: 'Выберите мастера', overlayClose: false, escKey: false, closeButton: false, onLoad: function(){$('#cboxClose').remove();}, scrolling: false, width: '#{5+300*@presenter.enabled_workers.size}px', height: '460px'});
#calendar_show{:class => @presenter.show_workers ? 'hidden-left' : ''}
  -# FIXME change it to form_for
  = form_tag appointments_path, :remote => !current_user.new_record? do
    = hidden_field_tag :start
    %section#second
      %div{ class: @presenter.enabled_workers.size == 1 ? 'hide' : ''}
        %h3 Выберите мастера
        .row-fluid#workers
          .span8
            - @presenter.enabled_workers.each do |worker|
              %label.radio.span3
                = image_tag worker.photo.url(:thumb), :title => worker.name
                = radio_button_tag "worker_id", worker.id, worker.user == current_user || @presenter.enabled_workers.size == 1, :check_services => (render 'services_list', :presenter => @presenter, :worker => worker).squish
                %p= worker.name
                %b= worker.profession
      %h3 На что хотите записаться:
      .row-fluid
        .check_services
          = render 'services_list', :worker => @presenter.worker || @presenter.enabled_workers.first, presenter: @presenter
          
        .span4.buttons_to_confirm{ :style => 'display:none;' }
          = link_to '#', :class => 'btn btn-success confirm_calendar' do
            %span.icon-ok
          = link_to '#', :class => 'btn btn-danger cancel_calendar' do
            %span.icon-remove
          %br/
        .span2.fc-corner-bottom.fc-corner-top.external-event{ 'data-append-selector' => '.buttons_to_confirm' }
          #total_time Время: 0 мин.
          #total_cost Стоимость: 0 руб.
      
    #first
      - if current_user.new_record?
        = render 'field', :field => :phone
      - elsif @presenter.owner_or_worker?
        - [:phone, :firstname, :lastname, :showing_time].each do |field|
          = render 'field', :field => field
        .row-fluid
          #phone_results
      - else
        = hidden_field_tag "user[phone]", current_user.phone

  .row-fluid
    %hr/
    .span1
      #third
        - [:taken, :inaccessible, :'your-offer'].each do |state|
          = I18n.t("legend.status.#{state}")
          %div{ :class => "legend legend-#{state}" }
          %br/
        - if @presenter.owner_or_worker?
          .show_statuses
            - [:taken, :inaccessible, :offer, :approve, :complete, :missing, :lated, :cancel_client, :cancel_owner].each do |state|
              %label.checkbox
                = check_box_tag :state, state, (session["show_#{state}"] == 'false' ? nil : 1)
                = t "activerecord.attributes.appointment.status.#{state}"
    .span10
      #calendar{ :style => 'width:900px;margin:0 auto;' }
      %br/
      %br/
      %br/
