- content_for :js do
  = stylesheet_link_tag "fullcalendar.print", media: 'print'
  :javascript
    var collections_services = #{@presenter.organization_services.to_json.html_safe};
    var start_calendar_options = #{@presenter.calendar_settings.to_json.html_safe};

- content_for :bottom_js do
  = javascript_include_tag 'fc', 'calendar'
  - if @presenter.phonebook
    :javascript
      var phonebook = #{@presenter.phonebook_to_json.html_safe};
      $(function(){
        Organizer.add_calendar_autocomplete( phonebook );
      });

= theme_render 'show_workers'
#calendar_show{:class => @presenter.show_workers ? 'hidden-left' : ''}
  -# FIXME change it to form_for
  = theme_render 'calendar_form'
  = theme_render 'calendar'
