- content_for :bottom_js do
  :javascript
    var start_calendar_options = #{@organization.calendar_settings.to_json};
  = stylesheet_link_tag    'fullcalendar'
  = javascript_include_tag 'fullcalendar', 'calendar'

- content_for :header do
  %br/
  - if current_user && current_user.owner?( @organization )
    = link_to 'Опции', [:edit, @organization], :class => 'btn btn-primary'
    = link_to 'Исполнители', [@organization, :executors], :class => 'btn btn-primary'

%h1= @organization.name

.row
  - [:free, :taken, :inaccessible].each do |state|
    .span16
      %span{ :class => "legend legend-#{state}" }
      = I18n.t("activerecord.attributes.appointment.status.#{state}")

%br/
#calendar{ :style => 'width:900px;margin:0 auto;' }
