.span6
  .utopia-login-info= image_tag "kickstrap/themes/beauty/left-logo.jpg"
.span6
  - if current_user
    .utopia-login
      %h1 Ваши действия
      .utopia
        %p
          = link_to "/dashboard", :class => 'btn btn-normal span12' do
            %i.icon-home
            Личный кабинет
        &nbsp;
        %p
          = link_to "/calendar", :class => 'btn btn-normal span12' do
            %i.icon-calendar
            Записаться
        &nbsp;
        %p
          = link_to destroy_user_session_path, :method => :delete, :class => 'btn btn-normal span12' do
            %i.icon-off
            Выход
        &nbsp;
  - else
    .utopia-login
      %h1 Вход для записи
      .utopia
        = simple_form_for(User.new, :url => session_path(User)) do |f|
          = f.input :phone
          = f.input :password
          = f.submit 'Войти', :class => 'btn btn-normal'
          %br/
          = link_to "Зарегистрироваться", new_registration_path(User)
          %br/
          = link_to "Забыли пароль?", new_password_path(User)
