- content_for :bottom_js do
  :javascript
    var start_calendar_options = #{@organization.calendar_settings.to_json};
  = stylesheet_link_tag    'fullcalendar'
  = javascript_include_tag 'fullcalendar', 'calendar'

- content_for :header do
  %br/
  - if current_user && current_user.owner?( @organization )
    = link_to 'Опции', [:edit, @organization], :class => 'btn btn-primary'

%h1= @organization.name

#calendar{ :style => 'width:900px;margin:0 auto;' }
