- {'Категории деятельности' => 'categories'}.each_pair do |name, tag|
  - next unless @organization.dictionaries.where(name: name, tag: tag).count.zero?
  - @organization.dictionaries.build(name: name, tag: tag)
%section.strip
  .container
    .row
      .span12
        %h3 Добавление словарей
.container
  .row
    .offset1
      = simple_form_for(@organization, url: wizard_path) do |f|
        = f.simple_fields_for :dictionaries do |s|
          = s.input :name, as: :hidden
          = s.input :tag, as: :hidden
          %h3= s.object.name
          = s.simple_fields_for :children_dictionaries do |cd|
            = render 'dictionaries/dictionary_fields', f: cd
          .row.links
            = link_to_add_association 'Добавить в словарь', s, :children_dictionaries, :class => 'btn btn-success', partial: 'dictionaries/dictionary_fields'
        = f.submit 'Продолжить', :class => 'btn btn-primary'
        = link_to 'Пропустить', next_wizard_path
        или
        = link_to 'Вернуться назад', previous_wizard_path
