%ul.nav
  = yield :nav_bar
  - if user_signed_in? && !current_user.new_record? && current_user.owner_or_worker?(@organization)
    = link_to "СМС: #{@organization.sms_ru.try(:balance)} р.", '/notifications', class: 'brand'
  - @organization.pages.where.not(menu_name: nil).each do |page|
    %li
      = link_to "/#{page.permalink}" do
        = page.menu_name
  - if @organization.show_photogallery? || current_user && (current_user.owner_or_worker?(@organization))
    %li
      = link_to "/category_photos" do
        %i.icon-th
        Фотогалерея
  - if !@organization.registration_before? || current_user
    %li
      = link_to "/calendar" do
        %i.icon-calendar
        Записаться
  - if current_user && !current_user.new_record?
    - if current_user.owner_or_worker?(@organization)
      %li.dropdown
        %a.dropdown-toggle{ 'href' => '#', 'data-toggle' => 'dropdown' }
          Отчеты
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "/users/statistic" do
              %i.icon-user
              По клиентам
          %li
            = link_to "/services/statistic" do
              %i.icon-list-alt
              По услугам
      %li.dropdown
        %a.dropdown-toggle{ 'href' => '#', 'data-toggle' => 'dropdown' }
          Настройки
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "/pages" do
              %i.icon-list-alt
              Страницы
          %li
            = link_to "/edit" do
              %i.icon-pencil
              Организация
          %li
            = link_to "/services" do
              %i.icon-list-alt
              Услуги
          %li
            = link_to "/workers" do
              %i.icon-user
              Мастера
          %li
            = link_to "/dictionaries" do
              %i.icon-list
              Словари
          %li
            = link_to "/codes" do
              %i.icon-gift
              Сертификаты
          %li
            = link_to "/notifications" do
              %i.icon-envelope
              Уведомления
      %li
        = link_to "/appointments/phonebook" do
          %i.icon-list-alt
          Телефонная книга
    %li
      = link_to "/dashboard" do
        %i.icon-home
        Кабинет
    %li
      = link_to destroy_user_session_path, :method => :delete do
        %i.icon-off
        Выход
  - else
    // TODO: subdomain => false для всех действий с куки (вход, выход, регистрация)?
    %li= link_to 'Вход', '/users/sign_in'
    %li= link_to 'Регистрация', '/users/sign_up?remote=true', :data => { :colorbox => true }
