.navbar-inner
  .container
    - unless defined?(show_big_organization_name) && show_big_organization_name
      = link_to @organization.name, domain_organization_path(@organization), :class => 'brand'
    .nav-collapse
      %ul.nav
        = yield :nav_bar
        - if @organization.show_photogallery? || current_user && current_user.owner?( @organization )
          %li
            = link_to "/category_photos" do
              %i.icon-th
              Фотогалерея
        - if current_user && !current_user.new_record?
          - if current_user.owner?( @organization )
            %li
              = link_to "/appointments/phonebook" do
                %i.icon-list-alt
                Телефонная книга 
            %li
              = link_to "/edit" do
                %i.icon-pencil
                Редактировать организацию
            %li
              = link_to "/services" do
                %i.icon-list-alt
                Список услуг
          %li
            = link_to "/dashboard" do
              %i.icon-home
              Кабинет
          %li
            = link_to destroy_user_session_path, :method => :delete do
              %i.icon-off
              Выход
        - else
          // TODO: subdomain => false для всех действий с куки (вход, выход, регистрация)?
          %li= link_to 'Вход', '/users/sign_in?remote=true', :data => { :colorbox => true }
          %li= link_to 'Регистрация', '/users/sign_up?remote=true', :data => { :colorbox => true }
        - if !@organization.registration_before? || current_user
          %li
            = link_to "/calendar" do
              %i.icon-calendar
              Записаться
