!!!
%html{ :lang => I18n.locale }
  %head
    %title Organizer24
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => "#{params[:controller]}_#{params[:action]}".gsub('/','_')}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Organizer24', '/', :class => 'brand'
    - if content_for? :header
      .header
        .container
          = yield :header
      .fx-header
    - if content_for? :upper
      .main-upper
        .fx-main-upper
        .container= yield :upper
    .main-lower
      .fx-main-lower
      .container= yield
