!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= t "site.name"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag "application", "themes/edge/font-awesome", "themes/edge/theme.css", "http://fonts.googleapis.com/css?family=Noto+Serif"
    /[if lt IE 9]
      <link rel="stylesheet" href="/assets/themes/edge/font-awesome-ie7.css">
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = csrf_meta_tags
    = yield :js
  %body{ :class => "#{params[:controller]}_#{params[:action]}".gsub('/','_')}
    / Showcase
    .showcase
      .container
        .row
          .span12
            %header.js-animated
              = image_tag "edge/logo.png"
              %h1 Вы работаете - OneClickBook записывает
              %p.description - сервис онлайн бронирования на процедуры -
    = yield
    %footer
      .container
        .row
          .span12
            %p.pull-right
              %a{:href => "#"}
                %i.icon-chevron-up
                Наверх
            %p
              \© 2013
              = t "site.name"
    = javascript_include_tag :application
    :javascript
      $(document).ready(function(){
        // fancy animation - fade out header content on page scroll
        $(window).scroll(function() {
          if ($(this).scrollTop() > 10) {
            $('.js-animated').stop().animate({opacity: 0}, 200);
          }
          if ($(this).scrollTop() < 10) {
            $('.js-animated').stop().animate({opacity: 1}, 500);
          }
        });
        //bootstrap tooltip trigger
        $('[rel="tooltip"]').tooltip();
      });
    = yield :bottom_js
    = render 'layouts/siteheart'
