!!!
%html{ :lang => I18n.locale }
  %head
    %title Organizer24
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "kickstrap", :media => "all"
    = stylesheet_link_tag    "kickstrap/themes/simplex"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :js
  %body{ :class => "#{params[:controller]}_#{params[:action]}".gsub('/','_')}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Organizer24', '/', :class => 'brand'
          .nav-collapse
            %ul.nav
              - if current_user
                %li= link_to 'Выход', destroy_user_session_path, :method => :delete
                %li= link_to 'Кабинет', "/dashboard"
              - else
                %li= link_to 'Вход', new_user_session_path
                %li= link_to 'Регистрация', new_user_registration_path
    - if content_for? :header
      .header
        .container
          = yield :header
      .fx-header
    - else
      %br/
      %br/
      .row{ :style => 'height: 300px' }= yield :header_title
      %br/
      %br/
    - if content_for? :upper
      .main-upper
        .fx-main-upper
        .container= yield :upper
    .main-lower
      .fx-main-lower
      .container= yield
    = yield :bottom_js
    - flash.each do |name, msg|
      :javascript
        $(function() {
          $.jGrowl("#{raw(escape_javascript(msg))}",{sticky: true, header: name, theme:  name});
        });
