!!!
%html{ :lang => I18n.locale }
  %head
    %title Organizer24
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :js
  %body{ :class => "#{params[:controller]}_#{params[:action]}".gsub('/','_'), :style => 'padding-top:60px;'}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Organizer24', '/', :class => 'brand'
          .nav-collapse
            %ul.nav
              - if current_user
                %li= link_to 'Выход', destroy_user_session_path, :method => :delete
                %li= link_to 'Кабинет', "/dashboard"
              - else
                %li= link_to 'Вход', new_user_session_path
                %li= link_to 'Регистрация', new_user_registration_path
    .container= yield
    = yield :bottom_js
    = flash_messages
