!!!
%html{ :lang => I18n.locale }
  %head
    %title= @organization.name
    -# TODO удалить bootstrap откуда-нить. сейчас 2 раза грузится
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "colorbox/colorbox_ex1"
    = stylesheet_link_tag "kickstrap/themes/beauty"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :js
  %body{ :class => "#{params[:controller]}_#{params[:action]}".gsub('/','_') }
    .organization_big_name
      = link_to @organization.subdomain.capitalize, "http://#{@organization.subdomain}", :class => 'brand'
      .subtext Индустрия красоты
    .navbar.navbar-fixed-top
      = render 'layouts/top_menu', :show_big_organization_name => true
    .container-fluid
      - if @breadcrumbs && @breadcrumbs.any?
        %ul.breadcrumb
          = breadcrumbs
      = yield
    = yield :bottom_js
    - flash.each do |name, msg|
      :javascript
        $(function() {
          $.jGrowl("#{raw(escape_javascript(msg))}",{sticky: true, header: "#{t(name)}", position:'bottom-right'});
        });
