!!!
%html{ :lang => I18n.locale }
  %head
    %title= @organization.name
    = stylesheet_link_tag "company"
    = stylesheet_link_tag "themes/beauty"
    = include_gon(init: true)
    = javascript_include_tag "application"
    = javascript_include_tag '//organizer24.ru/socket.io/socket.io.js'
    = csrf_meta_tags
    = yield :js
  %body{ :class => get_class }
    .organization_big_name.visible-desktop
      = link_to @organization.domain.capitalize, domain_organization_path( @organization ), :class => 'brand'
      .subtext Индустрия красоты
    .navbar.navbar-fixed-top
      = render 'layouts/top_menu', :show_big_organization_name => true
    .container-fluid
      - if @breadcrumbs && @breadcrumbs.any?
        %ul.breadcrumb= breadcrumbs
      .row-fluid= yield
    = yield :bottom_js
    = flash_messages
    = render 'layouts/counter'
