!!!
%html{ :lang => I18n.locale }
  %head
    %title= @organization.name
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "kickstrap/themes/#{@organization.theme || 'simplex'}"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :js
  %body{ :class => "#{params[:controller]}_#{params[:action]}".gsub('/','_')}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to @organization.name, ((@organization.subdomain.blank?)? @organization: root_url(subdomain: @organization.subdomain)), :class => 'brand'
          .nav-collapse
            %ul.nav
              - if current_user
                %li= link_to 'Выход', destroy_user_session_path, :method => :delete
                %li= link_to 'Кабинет', "/dashboard"
              - else
                // TODO: subdomain => false для всех действий с куки (вход, выход, регистрация)?
                %li= link_to 'Вход', new_user_session_path
                %li= link_to 'Регистрация', new_user_registration_path
    .container= yield
    = yield :bottom_js
    - flash.each do |name, msg|
      :javascript
        $(function() {
          $.jGrowl("#{raw(escape_javascript(msg))}",{sticky: true, header: name, theme:  name});
        });
