!!!
%html{ :lang => I18n.locale }
  %head
    %title= @organization.name
    = stylesheet_link_tag  "application", :media => "all"
    = stylesheet_link_tag  "kickstrap", :media => "all"
    = stylesheet_link_tag  "kickstrap/themes/#{@organization.theme || 'simplex'}"
    /- if Organization::THEMES.include?( @organization.theme || 'simplex' )
    /- else
    /  = stylesheet_link_tag  "#{@organization.theme}/style.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :js
  %body{ :class => "#{params[:controller]}_#{params[:action]}".gsub('/','_'), :style => 'padding-top:40px;'}
    .navbar.navbar-fixed-top
      = render 'layouts/top_menu'
    .container= yield
    = yield :bottom_js
    = flash_messages
