!!!
%html{ :lang => I18n.locale }
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "initial-scale=1,minimum-scale=1,width=device-width", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900", :rel => "stylesheet", :type => "text/css"}/
    %title= @organization.name
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "themes/embark"
    = javascript_include_tag "application"
    /[if IE]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = csrf_meta_tags
    = yield :js
  %body{ :class => get_class }
    %header
      %nav
        .container
          - if @organization.name != 'demo'
            %a.brand{:href => "/"}= @organization.name
          - else
            %a.brand{:href => "http://#{t 'site.domain'}"} Демонстрационный сайт. Нажмите чтобы уйти на #{t 'site.domain'}
      %section.container
        = yield :header
    = yield
    %footer
      .container
        = render 'layouts/top_menu_content'
      %p== #{@organization.name} © #{Date.today.year}
    = yield :bottom_js
    = render 'layouts/siteheart'
