!!!
%html{ :lang => I18n.locale }
  %head
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0", name: "viewport"}/
    %title= strip_tags(@organization.name)
    = stylesheet_link_tag "themes/sadmin"
    = csrf_meta_tags
    = include_gon
    = yield :js
  %body{id: sadmin_get_id(@organization)}
    %header#header.media{style: !user_signed_in? && show_organization_page? ? 'border: none;' : ''}
      %a#menu-toggle{href: ""}
      = link_to @organization.name.html_safe, root_path, class: 'logo pull-left'
      .media-body= theme_render 'top_menu'
    .clearfix
    %section#main.p-relative{role: "main"}
      %aside#sidebar
        = yield :left_widgets
        = theme_render 'menu'
      %section#content.container
        - if @breadcrumbs
          %ol.breadcrumb.hidden-xs= render_breadcrumbs :separator => ' > '
        = yield
    = javascript_include_tag 'themes/sadmin'
    = yield :bottom_js
