- content_for :bottom_js do
  = javascript_include_tag 'fullcalendar', 'month_calendar'

- content_for :nav_bar do
  - if current_user
    - if current_user.owner?( @organization )
      %li
        = link_to "/appointments/phonebook" do
          %i.icon-list-alt
          Телефонная книга 
      %li
        = link_to "/edit" do
          %i.icon-pencil
          Редактировать организацию
      %li
        = link_to "/services" do
          %i.icon-list-alt
          Список услуг
    %li
      = link_to "/calendar" do
        %i.icon-calendar
        Записаться

- if current_user
  %br/
  %br/
  %br/
  %br/
  #month_calendar.span10.offset1
- else
  %header.beauty.offset1
    .first_str  BEAUTY IS 
    .second_str EVERYWHERE
    .subtext
      Здравствуйте, я Золотарёва Анна. Работаю в индустрии красоты с 2009 года. На этом сайте вы можете увидеть мои работы, узнать о моих услугах и записаться на них в удобное для вас время. Спасибо, что Вы остаетесь моим клиентом.

    = link_to 'Записаться', '/users/sign_in?remote=true', :class => 'btn btn-primary btn-large', :data => { :colorbox => true }
