= content_for :header do
  - header = (@organization.index_header || '').split("\n")
  - header.each_with_index do |line, index|
    - if index > 0 && index == header.size-1
      %h2= line
    - else
      %h1= line
  - if current_user || @organization.registration_before
    %form
      = link_to 'Записаться', '/calendar', :class => 'btn btn-gold'
  - else
    = form_for User.new, :url => session_path(User), :html => {:class => 'sign_in_index', :colorbox => true} do |f|
      :erb
        <%= f.text_field :phone, :autocomplete => 'off', :placeholder => "Телефон", :required => true, :class => 'input_with_submit' -%><%= f.submit 'Записаться', :class => 'btn btn-gold' -%>
%article
  .container
    %ul.row-fluid
      - if true || @organization.show_photogallery? || current_user && current_user.owner?( @organization )
        %li.span3
          %i.foundicon-right-arrow.gen-enclosed
          .box
            / Edit your article content here
            %h3 Скорость
            %p Сделаете это мгновенно, а не "перезвоните через 10 минут, я за рулём сейчас"
      %li.span3
        %i.foundicon-clock
        .box
          / Edit your article content here
          %h3 24 часа
          %p Сделаете это когда угодно и когда удобно
      %li.span3
        %i.foundicon-idea
        .box
          / Edit your article content here
          %h3 Оповещение
          %p Не забудете - за сутки придёт смс-напоминание
      %li.span3
        %i.foundicon-phone
        .box
          / Edit your article content here
          %h3 Без звонка
          %p Общаться лучше вживую!
