= content_for :js do
  = javascript_include_tag 'photo'
  = stylesheet_link_tag 'jquery.fileupload-ui'

%h3 Свойства категории
= simple_form_for(@category_photo, :wrapper => :bootstrap) do |f|
  = show_errors( @category_photo )
  = f.input :name
  = f.input :parent_id, :as => :select, :collection => @ancestry_category_photos
  .form-actions
    = f.submit nil, :class => 'btn btn-success'

#photos
  - @category_photo.photos.each do |photo|
    = render photo

- unless @category_photo.new_record?
  %h3 Файлы
  = simple_form_for [@category_photo, Photo.new], :wrapper => :bootstrap do |f|
    = f.input :photo, :as => :file, :input_html => { :multiple => true, :name => 'photo[photo]' }
