%h3
  %i.icon.icon-user
  Пользователь
  %code
    = link_to 'Уже зарегистрированы?', '/users/sign_in'
= f.input :lastname
= f.input :firstname
= f.input :email
= f.input :phone
= f.input :password, :as => :password
= f.input :password_confirmation, :as => :password
