%section.strip
  .container
    .row
      .span12
        %h3 Регистрируем организацию
/ Page Container
.container
  / Features Grid
  .row
    .offset1
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        = render "#{f.object.current_step}_step", :f => f

        .form-actions
          = f.submit f.object.last_step? ? "Завершить" : "Дальше", :class => 'btn'
          - unless f.object.first_step?
            = f.submit "Назад", :name => 'back_button'
      = render "users/links"
