.container
  .row
    &nbsp;
  .row
    .span5.well
      %h3 Создать нового пользователя
      - resource.role = 'admin'
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        = f.input :role, :as => :hidden
        = f.input :lastname
        = f.input :firstname
        = f.input :email
        = f.input :phone
        = f.input :password, :as => :password
        = f.input :password_confirmation, :as => :password

        .form-actions
          = f.submit 'Зарегистрироваться', class: 'btn btn-primary'
    .span5.well
      %h3 Уже зарегистрированы?
      = render '/users/sessions/new_form'
